@import "../../../src/stylesheets/abstracts/variables";
@import "../../../src/stylesheets/abstracts/extends";

.pixel {
  max-width: 300px;
  margin: auto;
  &__text {
    font-size: 0.95rem;
  }
  &__render {
    $dimensions: 50px;
    width: $dimensions;
    height: $dimensions;
    background: black;
    display: inline-block;
    margin: 1rem auto;
  }
}
